<!-- Choose abc-theme, glowr-theme or makeup-theme to show it's image and text -->
<div class="myprojects-theme" class="makeup-theme">
<app-article-header></app-article-header>
<!-- <app-project-header></app-project-header> -->
</div>
<div id="article">
    <div id="video-container">
        <video controls autoplay loop>
                <source src="../../../assets/makeup-your-mind-video.mp4">
        </video>
    </div>
    <div id="introduction">
        <h1>INTRODUCTION</h1>
    </div>
        <p>
            I do not have many opportunities to design an entire platform, so taking advantage of the opportunity, I wanted to do it on a topic that I felt passionate about.<br>
            I like makeup since I can remember and I have been lucky enough to work in makeup sales for years and then become a <b>Makeup Artist</b>. During all these years, I have learned that the professional makeup world is hard. As in many other artistic professions, it is very difficult that people value what you do and the dedication that exists behind each job. Therefore, I wanted to do something that would <b>make life easier</b> for Makeup Artists.
        </p>
    <div id="body">
        <h1>RESEARCH</h1>
        <p>
                Starting the investigation, I wanted to obtain data to know what needs I wanted to cover, that is, the <b>Problem Statement</b>.  I did not want to do surveys before I was clear about what I wanted to ask and I wanted to avoid having to reform it because it was a project with a tight deadline of two weeks. <br>
                In the interviews I started with an open question, based on the last experience they had, so they could remember the details with ease.
        </p>
        <div class="quote">
            <img class="quotes" src="../../../assets/quotes.svg">
            <p class="quote">
                Explain how was your last experience with a client, since he/she first contacted you, going
                through how you carried out the services till when the contact with the client was over.
            </p>
        </div>
        <p> I found a pattern in common on all Makeup Artists: </p>
        <div class="flex-list">
            <div class="flex-item">
                <img class="number" src="../../../assets/number1.svg">
                <p class="listcompress">
                    The client contacted them through a channel, that could be platforms exclusively dedicated to that, social networks, emails or communication apps such as WhatsApp or Telegram.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number2.svg">
                <p class="listcompress">
                    A trial make-up was arranged. In the interval of time since the first contact and the day of the trial, most Makeup artists not only like to know what type of makeup the client wants to wear, they also want to create a bond, gain confidence with someone who will be part of that special day. Therefore, they ask questions about the personality, the event, the place, accessories that they will wear, inspirations, skin routines, etc.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number3.svg">
                <p class="listcompress">
                    All this information is collected as they can. Some of the tools they use to save that information are: Evernote, WhatsApp (keeping the information in the conversations), physical agendas, notes, notebooks, Apple Calendar, Google Calendar, Trello, etc.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number4.svg">
                <p class="listcompress">
                    In the make-up trial, the Makeup artists look for different combinations of products to find the ideal combination and avoid allergies on the day of the event.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number5.svg">
                <p class="listcompress">
                    On the day of the event, the Makeup artists look at the client’s information and use the same products.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number6.svg">
                <p class="listcompress">
                    As for the service payment, the vast majority of makeup artists tends to split it, although they do it in different ways. These are common dates to establish payments: to make a reservation, the day of the trial makeup, the day of the event and days before the event. Normally, the total is divided into two or three of these dates.
                </p>
            </div>
        </div>
        <h1>FINDINGS</h1>
        <p>With all this information I was able to specify some questions to do a Survey and obtain a bit of quantitive data. On the responses, these are the main findings I discovered.<br></p>
        <img class="full-img" src="../../../assets/findings.png">
        <p>
            I also learned that, for example, calculating makeup time or carrying an inventory of products, which at first I had considered as possible pain points, <b>they really were not</b>.<br>
        </p>
        <h1>USER PERSONA AND<br>USER JOURNEY</h1>
        <p>
          <b>Neus</b>, my user persona, embodies all the information I obtained in the research and helps me to focus the platform on the <b>users needs</b>.
        </p>
        <img class="full-img" src="../../../assets/userpersona.png">
        <p>
            Also I created a <b>User Journey</b> that could happen based on the testimonies I had heard in the interviews. It starts from the moment that the client contacts with Neus until she does the makeup.
        </p>
        <img class="full-img" src="../../../assets/user-journey.png">
        <h1>FEATURE PRIORITIZATION</h1>
        <p>
            From almost the first moment I was clear that the platform should be an <b>app</b>, since the Makeup artists have to take the information with them <b>everywhere and have easy access</b>, requirements that an app fulfills. However, the other decisions like features or content were not so obvious. So, to process all the information I did an <b>Affinity map</b>.
        </p>
        <img class="floatingright" src="../../../assets/feature-prioritization.png">
        <p>
            I did a <b>brainstorming</b> coming up with different features that can solve the pain points I had found in the research. Then, I did a <b>Feature Prioritization</b>, that was quite hard because precisely what I wanted to avoid was that Makeup artists jump from one app to another, so my app <b>had to cover many functionalities</b>. But, two weeks are not enough to develop such a complex app. Using the <b>MoSCoW method</b>, I prioritized what features I wanted to develop and came to the conclusion that it was better to focus on those that were specialized for Makeup Artists, which did not exist before. This way I avoided spending my time in designing chronometers or maps, because there are other existing platforms that perfectly cover the needs and people are used to them, so it would also be kind of annoying to change this habits.<br>
            Finally, I made a <b>low fidelity prototype</b> and I tested it with Makeup artists. The results were that part of the prototype, where they had to put the products that they are using in the trial makeup to use the same ones in the event, <b>was a bit confusing</b>. At the beginning they did not know very well what each icon meant. The most confusing were the “others” icon, which I represented with a magic wand. I thought that changing the icon wouldn’t make the category understandable enough for everyone, so I solved it by <b>placing the name of each category under the icons</b>.
        </p>

        <div class="two-image-container">
                <div><img src="../../../assets/makeup-wireframe1.jpg"></div>
              <div><img src="../../../assets/makeup-wireframe2.jpg"></div>
              <div><img src="../../../assets/makeup-wireframe3.jpg"></div>
        </div>

        <p>
            With all the changes in mind, I made a <b>mid-fidelity prototype in Sketch</b>. For the icons of the tap bar, I made them directly in high fidelity, for two reasons:
        </p>
        <ol>
            <li class="body">So I could do real tests to see if the users recognized the icons well and knew what to expect in each tab.</li>
            <li class="body">Because it saved some time not having to look for some provisional icons and then not using them.</li>
        </ol>
        <p>
            I also did usability tests with this fidelity to Makeup artists. This time it was much easier because when I did it on paper, people who are not used to do tests, were confused when they saw low fidelity and did not act in the same way they would in normal use. Thus, in this state I could check the usability of the platform much better and the results were positive. These are some of the mid fidelity screens.
        </p>
        <h1>MOODBOARD AND STYLE GUIDE</h1>
        <p>
            Then it was time to make a <b>high-fidelity prototype</b>. For this, the first thing I did was to define the brand. I wanted it to be <b>artistic</b> and <b>colorful but not childish</b>, in fact, I wanted it to be the opposite, <b>professional</b>, because after all, it is a work tool. With this I created a moodboard to inspire me.
        </p>
        <img class="partial-img" src="../../../assets/moodboard.png">
        <p>
            I decided that I was going to use <b>Montserrat typography</b> because it is professional but at the same time not too serious, and <b>Abril Fatface</b>, which is completely different, to give contrast and originality.
        </p>
        <h1>FEATURES</h1>
        <p>
            These are some features and thoughts behind them:
        </p>
        <h2>ICONS INSTEAD OF IMAGES </h2>
          <p>The customer file was the first thing I designed. At the top I wanted the essential customer information to be available and easy to access. At first I was going to put a <b>photo of the client</b>, but then I thought about how the Makeup artists was going to get this profile picture. While it is true that most Makeup artists make a photo of the trial makeup, or even others that make facecharts, which could also serve as a profile picture, I knew that the client file was almost always created before making the trial makeup and this means that the file was not going to have any photo until the day of the trial. On the other hand, the possibility of Makeup artists asking for a profile photo to the client to use something before the trial seemed <b>unnecessary and a waste of time</b>. I solved this question by representing the <b>type of event with icons</b>. I also used the same type of icons throughout the app to create consistency.
          </p>
          <img class="partial-img" src="../../../assets/icons-vs-images.png">
        <h2>GALLERY</h2>
          <p>
            Although for the profile information I put an icon, I knew I had to create a place where the Makeup artists could keep the photos related to a client. Some makeup artists asked for photos of the <b>accessories</b>, others asked for <b>photos of makeup or hairstyles</b> that the clients liked, to have an idea of what they want, etc. I also had to take into account the photos of the <b>trial makeup</b> and the <b>facecharts</b> that some Makeup Artists make. As there were <b>many categories</b> and each Makeup artists did ones but not others, I designed a general gallery section. This way, it prevents that if a Makeup artist, for example, never makes facecharts, it would always have an empty and useless section.
          </p>
        <h2>THE MAKEUP PRODUCTS</h2>
          <p>
            I also designed a section to leave the <b>products that are used in the makeup trial</b>, thus solving the main pain point. The categories are the result of a <b>Card Sorting</b>.
          </p>
        <h2>SAFE INFORMATION</h2>
          <p>
            Other needs of Makeup artists is that they want to <b>have the information in more than one place</b>, since they have information related to <b>important events</b>, such as weddings. It is at this point where many times a physical agenda had failed; there were numerous experiences where they had been forgotten or lost. On the other hand, there was also a fear that the app would stop providing service at some vital moment. There were Makeup artists who did not trust enough to have all the information in one app. To solve this, I designed a <b>button that generates a pdf report</b>, which they can save in the cloud if they want.
          </p>
        <h2>INTERNAL ACCOUNTABILITY</h2>
          <p>
              Another of the pain points was to <b>control and organize the invoices</b>. Therefore, also create a section for it. In the invoice client tab, the Makeup artist can find a section to <b>split the payments into the quantities they want</b>, by simply sliding the line, the app automatically calculates the prices. They can also <b>set a deadline</b> for each payment. This way when there is an overdue the app will give a warning. In the main page, users can see the basic data of each client and a graph with the all the data to have a general view.
          </p>

        <img class="full-img" src="../../../assets/features.png">
        <p>
            Here you can find the complete user flow, where you can create a new customer file and then a new invoice file.
        </p>
        <div class="invision-container">
            <div><iframe class="invision" width="442" height="935" src="//invis.io/YJNFR8Y74U8" frameborder="0" allowfullscreen></iframe></div>
        </div>
        <p>If you want to see this project on an external Invision page, <a target="_blank" rel="noopener noreferrer" href="https://invis.io/YJNFR8Y74U8">follow this link.</a></p>
        <h1>REDESIGNING THE APP</h1>
        <p>
            The two weeks finished and I finally presented my app in a Hackshow. In one hand, my feeling with the app was good because I knew that I made something product-market fit. But, later, looking at it I felt like it didn’t looked like a real, buildable app, so I took the feedback that teachers and members from the jury gave to me and decided to redesign it following the <b>iOS Human Interface Guidelines</b> and changed some things:<br>
        </p>
        <ol>
            <li class="body">I cleaned the design.<br></li>
            <li class="body">I decided a color for tapable elements, which is turquoise blue.<br></li>
            <li class="body">I provided a clear way to go back with the button “Cancel”.<br></li>
            <li class="body">I changed the client information forms. Before, they looked more like a website. Now they have a similar appearance to native apps from Apple, like contacts.<br></li>
            <li class="body">I incorporated a native iOS date picker.<br></li>
            <li class="body">I took out the tap bar in the process of creating a new file.<br></li>
        </ol>
        <div class="two-image-container">
            <div><img src="../../../assets/makeup-redesign-1.png"></div>
            <div><img src="../../../assets/makeup-redesign-2.png"></div>
            <div><img src="../../../assets/makeup-redesign-3.png"></div>
        </div>
        <p>
            Now the app looks more realistic and intuitive. Following the iOS Human Interface Guidelines helped me a lot for cleaning up the interface and making every screen more understandable, since people are used to iOS patterns. You can see a video of this userflow <a href="javascript:;" (click)="scrollTo('video-container')">here</a>.<br><br>
        </p>
        <p>
            I hope you liked this project and if you have any suggestions or comments, feel totally free to contact me!
        </p>
    </div>
</div>
<div id="contact"></div>
<app-contact-me></app-contact-me>
