#article {
    margin: 4.5em 10vw 10vw 10vw;
}

#introduction {
    margin-bottom: 5vh;
}

.title {
    font-family: 'Roboto Slab';
    /* Bold */
    font-weight: 700;
    font-size: calc(15px + 1vmin);
    letter-spacing: 0.3em;
    margin-top: 8vh;
    margin-bottom: 6vh;
}

.title mark {
    background-color: #F78888;
    color: #454141;
    /* padding: 3px; */
    padding: 3px 8px 3px 16px;
}

.subtitle {
    font-family: 'Roboto Slab';
    /* Bold */
    font-weight: 700;
    font-size: calc(13px + 0.85vmin);
    letter-spacing: 0.2em;
    margin-top: 7vh;
    margin-bottom: 5vh;

}

.subtitle mark {
    background-color: #65C7C2;
    color: #454141;
    padding: 2px 4px 2px 8px;
}

.body {
    font-family: 'Montserrat';
    /* Semi-bold */
    font-weight: 600;
    font-size: calc(10px + 0.6vmin);
    color: #454545;
    letter-spacing: -0.4px;
    line-height: 2.2em;
}

.body b {
    /* Extra-bold */
    font-weight: 800;
}

.quote {
    position: relative;
    margin: 4vh 6vw;
    /* Font */
    font-family: 'Montserrat';
    /* Extra-bold */
    font-weight: 800;
    font-size: calc(10px + 0.6vmin);
    color: #454545;
    letter-spacing: -0.4px;
    text-align: center;
    line-height: 2.2em;
}

.quote p {
    padding: 2vw;
}

.quotes {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 10vw;
    max-width: 5em;
}

.flex-list {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.flex-list p {
    padding: 2vw;
}

.flex-item {
    position: relative;
    flex: 0 0 25vw;
    min-width: 260px;
    align-self: auto;
}

.number {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 10vw;
    max-width: 5em;
}

.full-img {
    width: 100%;
    margin-bottom: 2em;
}

.partial-img {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2em;
}


.two-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center; 
}

.two-image-container img {
    margin: 2em 0;
    width: 95%;
}

ol span{
    /* Extra-bold */
    font-weight: 800;
    font-size: calc(12px + 0.6vmin);
}

.invision-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.invision {
    /* text-align: center; */
    align-self: center;
    /* width:100%; */
    transform: scale(1);
}

/* Medium and small screen sizes */
@media all and (max-width: 600px) {
    .invision {
        display: none;
    }

    .two-image-container {
        flex-direction: column;
        justify-content: center;

    }
}

