<app-project-header></app-project-header>
<div id="article">
    <div id="introduction">
        <p class="title"><mark>INTRODUCTION</mark></p>
        <p class="body">
            I do not have many opportunities to design an entire platform, so taking advantage of the opportunity, I wanted to do it on a topic that I felt passionate about.<br>
            I like makeup since I can remember and I have been lucky enough to work in makeup sales for years and then become a <b>Makeup Artist</b>. During all these years, I have learned that the professional makeup world is hard. As in many other artistic professions, it is very difficult that people value what you do and the dedication that exists behind each job. Therefore, I wanted to do something that would <b>make life easier</b> for Makeup Artists.
        </p>
    </div>
    <div id="body">
        <p class="title"><mark>USER EXPERIENCE</mark></p>
        <p class="subtitle"><mark>EARLIER STEPS</mark></p>
        <p class="body">
                Starting the investigation, I wanted to obtain data to know what needs I wanted to cover, that is, the <b>Problem Statement</b>.  I did not want to do surveys before I was clear about what I wanted to ask and I wanted to avoid having to reform it because it was a project with a tight deadline of two weeks. <br><br>
                In the interviews I started with an open question, based on the last experience they had, so they could remember the details with ease.
        </p>
        <div class="quote">
            <img class="quotes" src="../../../assets/quotes.svg">
            <p>
                Explain how was your last experience with a client, since he/she first contacted you, going
                through how you carried out the services till when the contact with the client was over.
            </p>
        </div>
        <div class="flex-list">
            <div class="flex-item">
                <img class="number" src="../../../assets/number1.svg">
                <p class="body">
                    The client contacted them through a channel, that could be platforms exclusively dedicated to that, social networks, emails or communication apps such as WhatsApp or Telegram.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number2.svg">
                <p class="body">
                    A trial make-up was arranged. In the interval of time since the first contact and the day of the trial, most Makeup artists not only like to know what type of makeup the client wants to wear, they also want to create a bond, gain confidence with someone who will be part of that special day. Therefore, they ask questions about the personality, the event, the place, accessories that they will wear, inspirations, skin routines, etc.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number3.svg">
                <p class="body">
                    All this information is collected as they can. Some of the tools they use to save that information are: Evernote, WhatsApp (keeping the information in the conversations), physical agendas, notes, notebooks, Apple Calendar, Google Calendar, Trello, etc.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number4.svg">
                <p class="body">
                    In the make-up trial, the Makeup artists look for different combinations of products to find the ideal combination and avoid allergies on the day of the event.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number5.svg">
                <p class="body">
                    On the day of the event, the Makeup artists look at the client’s information and use the same products.
                </p>
            </div>
            <div class="flex-item">
                <img class="number" src="../../../assets/number6.svg">
                <p class="body">
                    As for the service payment, the vast majority of makeup artists tends to split it, although they do it in different ways. These are common dates to establish payments: to make a reservation, the day of the trial makeup, the day of the event and days before the event. Normally, the total is divided into two or three of these dates.
                </p>
            </div>
        </div>
    </div>
    <!-- <iframe class="invision" width="442" height="935" src="//invis.io/YJNFR8Y74U8" frameborder="0" allowfullscreen></iframe> -->
</div>