<div class="project">
    <a routerLink="/"><img class="page-name" src="../../../assets/oval-name.svg"></a>
    <app-secondary-menu></app-secondary-menu>
    <div class="project-flex">
        <div id="project-text">
          <p class="name" id="makeup">MAKEUP YOUR MIND</p>
          <p class="name" id="glowr">GLOWR</p>
          <p class="name" id="abc">ABC E-GROCERIES</p>
        </div>
      <div class="project-image">
        <img id="makeup" src="../../../assets/makeup_your_mind.png">
        <img id="glowr" src="../../../assets/glowr.png">
        <img id="abc" src="../../../assets/abc.png">
      </div>
    </div>
  </div>