<div id="about" class="about-theme">
  <a routerLink="/"><img class="name" src="../../../assets/oval-name.svg"></a>
  <app-secondary-menu></app-secondary-menu>
  <div id="content">
    <h1>ABOUT ME</h1>
    <div id="photo-and-interests">
      <img class="portrait" src="../../../assets/Jani.png">
      <div>
        <h2>MY PERSONAL INTERESTS</h2>
        <div id="interests">
          <div id="single-interest">
            <img src="../../../assets/photography.png">
            <h3>PHOTOGRAPHY</h3>
          </div>
          <div id="single-interest">
            <img src="../../../assets/philosophy.png">
            <h3>PHILOSOPHY</h3>
          </div>
          <div id="single-interest">
            <img src="../../../assets/technology.png">
            <h3>TECHNOLOGY</h3>
          </div>
          <div id="single-interest">
            <img src="../../../assets/travel.png">
            <h3>TRAVEL</h3>
          </div>
        </div>

      </div>
    </div>
    <div>
      <p><span>Hello! </span>I’m Janira Gilarte.</p>
      <p>
        Since I can remember, I have always been interested in knowing in a deep way how things work and why. It did not matter if it was science, technology, art or human behavior, that my interest occupied my extra hours. That is why I decided to do a philosophy degree, where I learned to think and communicate, among other things. During this period I realized that knowing about how humans interpret things was something that I paid special attention to. In my last year I specialized in symbolism,  different perspectives, cultures and ways of thinking.<br><br>
        In a parallel way, the makeup, which I started as a hobby, ended up becoming a real work. Working as a makeup artist I learned many techniques and little by little I have improved in shadows, dimensions, harmony of colors and many other things. This has been a way to express my artistic part.<br><br>
        For me,  UX / UI design has meant the joint of all these passions. For two intense months I have had the privilege of learning from expert teachers and classmates at Ironhack, with whom it has been really enriching to work. I have learned about methods, tools, concepts, skills and ways of working.<br><br>    
      </p>
    </div>
  </div>
  <div id="contact"></div>
  <app-contact-me></app-contact-me>
</div>


