
#about {
    background-image: linear-gradient(135deg, #8611CF 0%, #8317FF 100%);
}

#content {
    margin: 10vw;
    background-image: linear-gradient(135deg, #8611CF 0%, #8317FF 100%);

}

.name {
    position: absolute;
    margin-left: 3vw;
    width: 15vw;
    min-width: 100px;
}

h1 {
    font-family: 'Roboto Slab';
    /* Bold */
    font-weight: 700;
    font-size: calc(10px + 3vmin);
    color: #F6F6F6;
    letter-spacing: 0.2em;
    text-align: center;
    line-height: 1.8em;
}

p {
    font-family: 'Helvetica Neue';
    font-size: calc(10px + 0.6vmin);
    color: #F6F6F6;
    letter-spacing: 0;
    line-height: 2em;
}

span {
    font-size: calc(15px + 2vmin);
}

img {
    float: left;
    width: 25vw;
    margin-right: 3vw;
    margin-bottom: 2vw;
}