<div id="about" class="about-theme">
  <img class="name" src="../../../assets/oval-name.svg">
  <app-secondary-menu></app-secondary-menu>
  <div id="content">
    <h1>ABOUT ME</h1>
    <div>
      <img src="../../../assets/Jani.png"></div>
    <div>
      <p><span>Hello!</span>
        In this section I will explain a little more about me. Just for you to know, this is not going to be a tour of my work experience, since I'm not just that and also LinkedIn already does that job.<br><br>
        As you probably already guessed, my name is Janira Gilarte and, although it does not look like it by my name, I was born in a city near Barcelona. Throughout my childhood I was a tremendously curious girl. Among many other things, I liked to skate, climb, read and write. When I was a teenager, like almost all girls my age, I started to put on makeup. I did it as best I could (let's say there was lot of room for improvement). However, for me, makeup did not mean the same as for my friends. For me, it meant a way to express myself artistically or even an activity with which I enjoyed and relaxed. So I kept innovating and learning by myself, based on trial and error.<br><br>
        After doing scientific specialty high school, I had to choose a degree. It was an important decision since for then, studies and profession for me were something inseparable. Anyway, it never occurred to me to do a degree because there was a lot of work in the field. To choose, I looked at all the subjects of many grades, with the result that only one of them was tremendously captivating: Philosophy. But, as I said, it was a disinterested love, the best type that exists according to Aristotle! <br><br>
        So I started college and I looked for a job. I still liked makeup, but as I said I did not have an official degree. To find a job I created a resume based on a facechart made with Photoshop where I showed my knowledge. By then I had improved my technique a lot with shadows, color combinations, dimensions, etc. And that's how I got the job I did during my entire degree.<br><br>
        If right now in your head happens something similar to: wait… I've read Philosophy, what’s that for? Well, for me it meant being a real person in the world. I learned how to read, to interpret, to communicate ... to think! I learned politics, ethics, language, history ... Such a great experience.However, when it was over I have to confess that someway I was happy. I was tired of the university system based on exams and works, and the last year was particularly hard.<br><br>
        So, when I finished I wanted to do something different and new. I discovered what the UX / UI was, that until then I had not heard about it. And well! It seemed like it was made for me. I combined art, with analytics, writing, human behavior, business ... Until then I had thought that not deciding for an artistic or analytical part was a bad thing. So I saved some money and got into Ironhack. There not only I could learn from professionals but also I worked as a group and learned many things from my classmates, which I enjoyed a lot.<br><br>
        I feel if this section has been long, but literally I’m explaining my life!
      </p>
    </div>
  </div>
  <app-contact-me></app-contact-me>
</div>