<!--The content below is only a placeholder and can be replaced.-->

  <div class="intro">
    <div class="menu"></div>

    <div class="intro-flex">
      <div id="intro-text">
        <p>Hi, I'm Janira</p>
        <p>Tech lover, UX/UI Designer</p>
      </div>
      <div id="intro-button">
        <button>Get in touch</button>
      </div>
    </div>
    <div class="scroll-down-button"></div>

  </div>
  <div class="project1"></div>
  <div class="project2"></div>
  <div class="project3"></div>

