<!--The content below is only a placeholder and can be replaced.-->

  <div class="intro">
    <img class="name" src="../assets/name.svg">
    <app-menu></app-menu>
    <div class="intro-flex">
      <div id="intro-text">
        <p id="hi">Hi, I'm Janira</p>
        <p id="description">Tech lover, UX/UI Designer</p>
      </div>
    <div class="intro-button">
      <a href="#"><img id="button" src="../assets/button.svg"></a>
    </div>
    </div>
    <app-scroll-down></app-scroll-down>

  </div>

  <app-project-preview id="projects"></app-project-preview>
  <div class="project2"></div>
  <div class="project3"></div>

