<div id="project">
    <a routerLink="/"><img class="page-name" src="../../../assets/oval-name.svg"></a>
    <app-secondary-menu></app-secondary-menu>
    <div id="background">
      <img class="desktop" src="../../../assets/makeup-background-cut.png">
      <img class="mobile" src="../../../assets/makeup-background.png">
    </div>
    <div id="text">
      <a routerLink="/makeup-your-mind">
        <h1>MAKEUP <br> YOUR MIND</h1>
        <h3>An app made for Makeup Artists</h3>
      </a>
    </div>
    <div class="makeup-theme">
    </div>
  </div>