<div id="project">
    <a routerLink="/"><img class="page-name" src="../../../assets/oval-name.svg"></a>
    <app-secondary-menu></app-secondary-menu>
    <div id="background">
      <img id="makeup" class="desktop" src="../../../assets/makeup-background-cut.png">
      <img id="makeup" class="mobile" src="../../../assets/makeup-background.png">
      <img id="glowr" class="desktop" src="../../../assets/glowr.png">
      <img id="glowr" class="mobile" src="../../../assets/glowr.png">
      <img id="abc" class="desktop" src="../../../assets/abc2.png">
      <img id="abc" class="mobile" src="../../../assets/abc.png">
    </div>
    <div class="text" id="makeup">
      <h1>MAKEUP <br> YOUR MIND</h1>
      <h3>An app made for Makeup Artists</h3>
    </div>
    <div class="text" id="glowr">
      <h1>GLOWR</h1>
      <h3>Fairer promotions at work</h3>
    </div>
    <div class="text" id="abc">
      <h1>ABC <br> E-GROCERIES</h1>
      <h3>A trustworthy website for buying <br> fresh products</h3>
    </div>
  </div>