#project {
    height: 60vh;
    min-height: 400px;
    background: #F2D7F5;
}

.page-name {
    position: absolute;
    margin-left: 3vw;
    width: 15vw;
    min-width: 100px;
}

#background {
    position: relative;
}

.mobile {
    visibility: hidden;
}

#background img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: calc(60vh - 50px);
    /* width: calc(90vh * 1.23px); */
    min-height: 350px;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* 100 - scroll heigh - padding top height */
    height: 30vh;
    text-align: center;
    padding-right: 50vw;

}

a {
    text-decoration: none;
}

h1 {
    padding-top: 20vh;

    font-family: Montserrat;
    /* Bold */
    font-weight: 700;
    font-size: calc(15px + 2vw);
    color: #A894D1;
    letter-spacing: 0;
    text-align: center;
}

h3 {
    font-family: Montserrat;
    /* Medium */
    font-weight: 500;
    font-size: calc(5px + 1vw);
    color: #6F6F71;
    letter-spacing: 2.3px;
}

:host-context(.makeup-theme) #glowr {
    display: none;
    visibility: hidden;
}

:host-context(.makeup-theme) #abc{
    display: none;
    visibility: hidden;
}

:host-context(.glowr-theme) #makeup{
    display: none;
    visibility: hidden;
}

:host-context(.glowr-theme) #abc{
    display: none;
    visibility: hidden;
}

:host-context(.abc-theme) #makeup{
    display: none;
    visibility: hidden;
}

:host-context(.abc-theme) #glowr{
    display: none;
    visibility: hidden;
}


:host-context(.glowr-theme) #project {
    background: #E0E6FF;
}
:host-context(.glowr-theme) h1 {
    color: #A9B0E8;
}
:host-context(.glowr-theme) #background img {
    right: 15vw;
}

:host-context(.abc-theme) #project {
    background: #FBEED5;
}
:host-context(.abc-theme) h1 {
    color: #EDC06D;
}
:host-context(.abc-theme) #background img {
    right: 12vw;
}

@media all and (max-width: 900px) {

    .mobile {
        visibility: unset;
    }

    .desktop {
        visibility: hidden;
        display: none;
    }

    #background img {
        height: 40vh;
        width: unset;
        min-height: unset;
    }

    .text {
        height: 50vh;
        min-height: 300px;
        padding: 0;
        justify-content: flex-end;
    }

    :host-context(.glowr-theme) #background img {
        height: 38vh;
        position: absolute;
        top: unset;
        position:absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    :host-context(.abc-theme) #background img {
        height: 34vh;
        position: absolute;
        top: unset;
        position:absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

}

