<div id="project">
    <div id="background">
      <img src="../../../assets/abc.png">
    </div>
    <div id="text">
      <a routerLink="/abc-groceries">
        <h1>ABC <br> E-GROCERIES</h1>
        <h3>A trustworthy website for buying <br> fresh products</h3>
        <div class="case-study-flex">
          <h4>See Study Case</h4>
          <img src="../../../assets/glowr-case-study-arrow.png">
        </div>
      </a>
    </div>
    <div class="abc-theme">
        <app-small-scroll-down></app-small-scroll-down>
    </div>
  </div>