.scroll-down-button {
    height: 20vh;

    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#link {
    display: block;
}

div p{
    margin: 0;
}

    #mouse {
        width: 5vmin;
        min-width: 30px;
    }

    #arrow {
        width: 2.5vmin;
        min-width: 15px;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
    }

    #text {
        /* Font */
        font-family: Montserrat;
        /* Bold */
        font-weight: 700;
        /* font-size: 2vmin; */
        font-size:calc(10px + 0.5vmin);
        color: #FAFAFA;
    }

/* Bounce animation for arrow */

@keyframes bounce {
    from {
      transform: translateY(3px);
    }
    to {
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(3px);
    }
    to {
      transform: translateY(-8px);
    }
  }