<div id="contact-me">
  <div id="flex-container">
    <div class="text">
      <p>CONTACT</p>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/janiragilarte/"><img src="../../../assets/linkedin.png"></a>
      <a href="https://medium.com/@janira.gilarte"><img src="../../../assets/medium.png"></a>
      <a href="https://dribbble.com/Janira"><img src="../../../assets/dribble.png"></a>
      <a href="mailto:janiragilarte@gmail.com"><img src="../../../assets/mail.png"></a>
    </div>
  </div>
</div>