<div id="contact-me">
    <div id="flex-container">
      <div class="text">
        <h1>Let’s get in touch!</h1>
        <h3>This can be the beginning of something thrilling</h3>
      </div>
      <div class="social-icons">
        <a href="mailto:janiragilarte@gmail.com"><img src="../../../assets/mail.png"></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/janiragilarte/"><img src="../../../assets/linkedin.png"></a>
        <a target="_blank" rel="noopener noreferrer" href="https://medium.com/@janira.gilarte"><img src="../../../assets/medium.png"></a>
        <a target="_blank" rel="noopener noreferrer" href="https://dribbble.com/Janira"><img src="../../../assets/dribble.png"></a>
      </div>
    </div>
  </div>