.body {
    font-family: 'Montserrat';
    /* Regular */
    font-weight: 400;
    font-size: calc(13px + 0.6vmin);
    color: #454545;
    letter-spacing: -0.4px;
    line-height: 2.8em;
    text-align: center;
}

.body b {
    /* Bold */
    font-weight: 600;
}

img {
    display: block;
    margin: auto;
    width: 70vw;
}