<!--The content below is only a placeholder and can be replaced.-->

<div class="intro">
    <div class="sticky-menu">
        <img class="name" src="../../assets/name.svg">
        <app-menu></app-menu>
      </div>

    <div class="intro-flex">
      <div id="intro-text">
        <p>Hello, <br> I'm Janira <br> UX/UI Designer</p>
      </div>
    </div>
    <app-scroll-down></app-scroll-down>
  </div>


  <!-- id here is an anchor for scrolling -->
  <div id="projects"></div>
  <app-project-preview-makeup></app-project-preview-makeup>
  <app-project-preview-glowr></app-project-preview-glowr>
  
  <app-project-preview ></app-project-preview>
  <app-project-preview2></app-project-preview2>
  <app-project-preview3></app-project-preview3>

  <div id="contact"></div>
  <app-contact-me></app-contact-me>
