<!-- Choose abc-theme, glowr-theme or makeup-theme to show it's image and text -->
<div class="myprojects-theme" class="glowr-theme">
  <app-project-header></app-project-header>
  </div>
  <div id="article">
    <div id="introduction">
          <p class="title"><mark>INTRODUCTION</mark></p>
      </div>
          <p class="body">
            The <b>National Wellness Institute</b> wanted a series of tools to improve <b>wellness,</b> so within the wide range of topics that it covers, I could choose whatever I wanted.<br><br>
            I thought about several topics that interested me but I did not want to do a common app for running or sleeping, so I chose health at work. I have always been a strong believer of <b>teamwork</b>. Sharing information, methods and communication can greatly improve a work.<br><br>
            I was doing a UX/UI design Bootcamp in Ironhack and my classmates had become part of my family. We spent together every day AT LEAST nine hours. On weekends, we met again and even in free time, we had beers together. I noticed that the more <b>confidence</b> I gained with them, the <b>teamwork was better</b>. I knew each one's <b>methodology, strengths and weaknesses</b>. It was from this thought that I decided to make a platform to get to this point of work in a faster and more effective way than the one that happens naturally. Something that would <b>break the ice</b> from the beginning, when the members of the team don’t know each other.<br>
          </p>
      <div id="body">
          <p class="title"><mark>USER EXPERIENCE</mark></p>
          <p class="subtitle"><mark>RESEARCH</mark></p>
          <p class="body">
            I began doing <b>interviews</b>. In the first interview I found <b>something surprising</b>. I started asking about how was the teamwork now and also how was it when they started working with them. The interviewee wasn’t answering the questions, he was complaining about a member of the team that <b>received a promotion without the skills that he should have</b>.<br>
            In interviews, people do not always give you the information you want to receive. Many times they talk about the topics that are from their interest and they think that are somehow related. When that happens, you can only try to redirect them to the main topic. I simply <b>thank him</b> for the time he had dedicated me and interview the next person. My surprise was when it happened the <b>exactly the same thing with the new interviewee</b>. Then, I couldn’t just ignore it, so this time I asked more about promotions.<br>
            In the following interviews I started asking about teamwork, the confidence with the members and ended up asking about promotions. Clearly people was so bothered about the promotions and wanted to talk a lot more about this second topic, so <b>I decided to change and focus my project in promotions</b>.<br><br>
            I investigated through more interviews and surveys information about the topic: who received the promotions, who decides that, what companies take into account to give promotions, what kind of promotions are, etc.<br><br>
            For the surveys, I did one in Spanish, which I sent to people living in Spain, and one in English, which I posted in forums such as Reddit, so most of the people who answered me were from the US. The results were curious and surprisingly different.<br>
          </p>
          <div class="two-image-container">
              <div><img src="../../../assets/glowr/english-responses.png"></div>
            <div><img src="../../../assets/glowr/spanish-responses.png"></div>
          </div>
        <p class="body">
            What both surveys have in common is:
        </p>
        <div class="flex-list">
                <div class="flex-item">
                    <img class="number" src="../../../assets/glowr/number-1-yellow.svg">
                    <p class="body">
                        A majority of people want to review and be reviewed from everybody.
                    </p>
                </div>
                <div class="flex-item">
                    <img class="number" src="../../../assets/glowr/number-2-yellow.svg">
                    <p class="body">
                        People want that companies take into account the <b>skills that the job position requires</b> to give a promotion instead of <b>direct economical profit</b> that the employee generates (mostly in Spanish responses) or the <b>opinion of the manager</b> (mostly in English responses) that companies are <b>taking now into account</b>.
                    </p>
                </div>
                <div class="flex-item">
                    <img class="number" src="../../../assets/glowr/number-3-yellow.svg">
                    <p class="body">
                        There is a very high percentage that <b>does not know very well how promotions work</b> in their companies or think that they simply do it <b>randomly</b>. They leave comments like these:
                    </p>
                </div>
            </div>

            <div class="flex-list">
                    <div class="flex-citation">
                        <p class="citation">
                            "After a year and a half of working here, I still don’t understand how promotions are done."
                        </p>
                    </div>
                    <div class="flex-citation">
                        <p class="citation">
                            "It's fingercrazy"
                        </p>
                    </div>
                    <div class="flex-item">
                        <p class="citation">
                            "Who gets well with the manager"
                        </p>
                    </div>
                    <div class="flex-citation">
                            <p class="citation">
                                "I do not know yet"
                            </p>
                    </div>
                    <div class="flex-citation">
                        <p class="citation">
                            "In my position the manager literally just chooses who she likes. Nothing to do with performance or length of time with the company. "
                        </p>
                    </div>
                </div>
            <p class="body">
                Processing all this information I had very clear that there was a need which I could work on, so I elaborated my <b>Problem Statement</b>.<br><br>
                People who work in a company<br>
                need a <b>way to know and control promotion</b><br>
                because they want to <b>improve their job skills and move up</b><br>
                I also created a <b>User Persona</b>, <b>Rafael</b>, to put a real situation that reflected the data. Rafael is a student and works part-time. Although he does not work full time, he is very interested in his work and wants to move up. In addition, he is <b>quite qualified.</b> However, he has a problem: his boss ignores him. It is because he is young, because he only works part-time, etc.<br><br>
            </p>
            <img class="full-img" src="../../../assets/glowr/persona-rafael.png">
            <p class="body">
                This could be a common <b>month of work for Rafael,</b> where he <b>sees an opportunity for promotion</b> and try him best. After all this, they have not even seriously considered him for the position and receive useless feedback, with which he cannot improve his work. Rafael ends up feeling <b>frustrated</b> and <b>not wanting to start another project motivated and improve</b>, since he feels<b> it will be the same anyway</b>.<br><br>
            </p>
            <img class="full-img" src="../../../assets/glowr/rafael-journey.png">
            <p class="body">
                I thought how I could solve all these needs. I did a <b>brainstorming</b> with possible features and classified them by how they were <b>valuable to the user</b>, resolved their needs and by the design difficulty.<br><br>
                I came to the conclusion that for employees to know how promotions were given and to control them, I would make a platform where <b>everyone could value the work of the coworkers, including managers</b>.
            </p>
            <p class="subtitle"><mark>FEATURES</mark></p>
            <p class="body">
                    After thinking about it a lot, I decided that I had to make a <b>web page</b>, for this reasons:<br><br>
           </p>
            <ol class="body">
                <li>
                    The users had to <b>read a lot of information</b>.<br>
                </li>
                <li>
                    I wanted it to be something that was <b>part of the job</b>. I did not want that, the fact that they can access through the mobile anywhere, be an excuse for companies to make employees do the reviews in <b>overtime</b>.<br><br>
                </li>
            </ol>
            <p class="body">
                Then, it was time to make a paper prototype and test it. I had to change a lot of things from this version because things that were obvious to me, to others, were not. Basically the solution was to make more explicit the function of the buttons or sections.<br><br>
                Then I defined a <b>User flow</b>: Rafael would review the skills of a co-worker named Diego. Rafael and Diego got on well from the first day they met. In fact, Diego is a funny guy and the parties are not the same without him. However, Rafael does not believe that Diego is the best one for Bussines Expert, that is the job position that Diego applied for. Is uncomfortable for Rafael to say it face to face but Rafael also wants Diego to improve in his work and be able to present himself to the next offer and get promoted. Rafael knows that this can only be done if Diego knows what <b>he has to improve on</b>, so he reviews his friend skills by the platform. Then he looks at the reviews that his colleagues have put him to see where he can improve and maybe apply for the next job that interests him.<br><br>
                Knowing the flow I wanted my User Persona to make, I designed a <b>mid fidelity prototype or wireframes</b>.<br>
            </p>
            <div class="two-image-container">
                <div><img src="../../../assets/glowr/mid-fidelity-1.png"></div>
                <div><img src="../../../assets/glowr/mid-fidelity-2.png"></div>
            </div>
            <p class="body">
            As you can see on the screens, I had designed the system in a way that employees have to <b>evaluate the skills one by one, through a slider</b>. There are three reference points: <b>unskilled, skilled and overused skill</b>. The first two points are quite common to find and understand but "overused skill”, which is also bad review, was something new for the users. At the beginning, almost all the users <b>did not even read the reference points</b> and if they believed that the person who they were reviewing had that skill, put the slider to the right. They thought that they were saying that the person had 100% of the skill and, instead of that, what they really were saying is that it was an "overused skill", so the person had to improve that aspect.<br><br>
            To fix this, what I did was change the <b>characteristics of the slider</b> to make the meaning of the terms a bit clearer.<br><br>
            </p>
            <ol class="body">
                <li>
                    Making noticeable the difference through  the color, <b>I added a gradient</b>. I wanted to avoid putting green in the middle and red in the extremes because it seemed too aggressive to me and I did not want people to have qualms about reviewing any skill in unkilled or overused skill. So, I put the same color, darker in the extremes and the lighter center, although I still did not know which one to use.<br><br>
                </li>
                <li>
                    I put the slider as a <b>default position in the center</b> instead of the right, hoping that people would notice easier if they had to throw it to the right or to the left and what that movement meant.<br>
                </li>
            </ol>
            <img class="partial-img" src="../../../assets/glowr/slider1.png">
            <img class="partial-img" src="../../../assets/glowr/slider2.png">
            <p class="body">
                I really wanted people to make a <b>fair and conscious review.</b> I wanted people to <b>sit down, take their time reading and understanding it, since it was a decision with important consequences</b> for other people. However, on the other hand I did not want it to be a tough process so people would stop doing it. I added <b>information points</b> in each point of reference that could be accessed by <b>clicking on the information icon</b>. And I tested it again.<br><br>
                The results this time were a bit more flattering. The users saw that <b>something was happening with the extremes of the slider</b>. However, even if they had doubts about what was "overused skill", there was a significant amount of people that <b>did not bother to click on the information button and find out what it is</b>.<br><br>
                Then, I had to pause. Something was wrong and had to be solved in some way. What I had to do was <b>reorder my priorities</b>. Re-think what the UX / UI design is.<br><br> 
            </p>

            <p class="full-citation">
                Most people make the mistake of thinking design is what it looks like. People think it’s this veneer — that the designers are handed this box and told, “Make it look good!” That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works.
            </p>
            <p class="full-citation" id="author">-Steve Jobs-</p>
            <p class="body">
                First, I had to prioritize the task I found that solves the needs of the users. For this, people had to pass throughout a thoughtful and conscious process and, for that, they had to <b>read the information. And I had hidden this information behind an icon where users had to click. That did not make sense!</b> Hiding that information was making the interface more beautiful, but it was not good to prioritize that.
                So, I made the decision of <b>displaying the information</b>. And I tested again.<br><br>  
            </p>
            <img class="partial-img" src="../../../assets/glowr/slider3.png">
            <p class="body">
                This time the results were a little more what I was looking for, although <b>the slider was monopolizing the attention of people</b>. It was like an impulse to move it, like when we see a big button and we want to press it. So I decided to <b>take it out</b>.<br><br>
                And it was then when I thought about all these changes, that I realized the challenge I was going to assume in the UI. I had to make a <b>friendly </b>platform where people would sit, read and spend some time on the screen, with a <b>lot of content</b>. This, in the era in which we are bombarded by information and we are used to fast and immediate things. In addition, the modern designs are minimalistic, so it was challenge also to display all the information <b>without being overwhelming or looking old-fashioned</b>.
            </p>
          <p class="title"><mark>USER INTERFACE</mark></p>
            <p class="body">
                I wanted it to be a platform that looked friendly and really helps employees to improve in their job and encourage better teamwork.<br><br>
                I made a <b>moodboard</b> to inspire me with the colors. Blue is <b>professional</b>, so it was ideal, but I wanted to choose a blue with a little bit of purple hue to make it more <b>friendly</b>. As a contrast, I chose yellow.<br><br>
            </p>
            <img class="partial-img" src="../../../assets/glowr/glowr-moodboard.png">
            <p class="body">
                For typography, I chose them with the same criteria. They are <b>Lato and Bitter</b>. On the other hand, the name is inspired by <b>glower and grower</b>, since that is the purpose of the platform, to make employees control promotions, get better and be promoted.<br><br>
                This was the result. The main page is about what’s going on in the company, in this case Betelgeuse.<br><br>  
            </p>
          <img class="full-img" src="../../../assets/glowr/screenshot1.png">
          <p class="body">
            This screen is where employees can see the job positions abaliables and who applied. <br>
          </p>
          <img class="full-img" src="../../../assets/glowr/screenshot2.png">
          <p class="body">
            This screen is an example of an skill (Creativity) in the proccess of reviewing. <br> 
          </p>
          <img class="full-img" src="../../../assets/glowr/screenshot3.png">
          <p class="body">
            Here you can see the whole user flow that I mentioned.<br><br>
            If you want to see this project on an external Invision page, <a target="_blank" rel="noopener noreferrer" href="https://invis.io/ZFN3K1U6E3K">follow this link.</a><br><br>
            I hope you like it!!<br><br>
            The skills are excerpt From: Michael M. Lombardo. “FYI: For Your Improvement”.
          </p>
      </div>
  </div>
  <app-contact-me></app-contact-me>
  